<h2><%= @beer_club.name %></h2>

<p> Founded <%= @beer_club.founded %>, <%= @beer_club.city %></p>

<h3>Members</h3>
<table class="table table-hover table-condensed">
  <tbody>
  <% @beer_club.users.each do |user| %>
      <tr>
        <td> <%= link_to user.username, user %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if current_user %>

    <% if @new %>
        <%= form_for(@membership) do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value:"Join the club", class:'btn btn-info' %>
        <% end %>
    <% else %>
        <%= form_for(@membership, method: "delete") do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value: "End the membership", class:'btn btn-danger' %>
        <% end %>
    <% end %>

    <br>
    <br>

    <%= edit_and_destroy_buttons(@beer_club) %>

<% end %>




