<p id="notice"><%= notice %></p>

<h2><%= @beer_club.name %></h2>

<p> Founded <%= @beer_club.founded %>, <%= @beer_club.city %></p>

<h3>Members</h3>
<table>
  <tbody>

  <ul>
    <% @beer_club.users.each do |user| %>
        <li> <%= link_to user.username, user %> </li>
    <% end %>
  </ul>

  </tbody>
</table>

<br>

<% if current_user %>

    <% if @new %>
        <%= form_for(@membership) do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value:"Join the club" %>
        <% end %>
    <% else %>
        <%= form_for(@membership, method: "delete") do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value: "End the membership" %>
        <% end %>
    <% end %>


    <br>
    <br>

    <%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
    <%= link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>




