<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if @user.ratings.empty? %>
    <p>has not rated any beer </p>
<% else %>
  <p>Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %></p>
<% end %>

<% if @user.ratings.any? %>
    <p>Favorite style: <%= @user.favorite_style %></p>

    <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
<% end %>

  <% if @user.beer_clubs.any? %>
    <p> Member of
      <% @user.beer_clubs.each do |beerClub| %>
          <%= link_to beerClub.name, beerClub %>
      <% end %>
    </p>
    <% else %>
    <p>No club memperships</p>
  <% end %>



<h3>Ratings</h3>
<table>
  <tbody>
  <ul>
    <% @user.ratings.each do |rating| %>
        <li>
          <%= rating %>
          <% if @user == current_user %>
              <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
    <% end %>
  </ul>
  </tbody>
</table>

<br>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Destroy user', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
