<p id="notice"><%= notice %></p>

<h2><%= @style.name %></h2>


<quote>
  <%= @style.description %>
</quote>

<h3>Beers:</h3>
<% if @style.beers.empty? %>
    Style has no beers!
<% else %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Brewery</th>
        <th colspan="3"></th>
      </tr>
      </thead>


      <tbody>
      <% @style.beers.each do |beer| %>
          <tr>
            <td><%= link_to beer.name, beer %></td>
            <td><%= link_to beer.brewery.name, beer.brewery %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<br>
<br>

<%= edit_and_destroy_buttons(@style) %>

